<h1>All Vehicles</h1>

<ol>
    <% @vehicles.each do |v| %>

        <h2><%= link_to v.name, vehicle_path(v.id)%> - <%= v.type.name %> </h2>
        <%= link_to "write a review", new_vehicle_review_path(v.id) %>
    <% end %>

</ol>