<h1>All Vehicles</h1>

<ol>
    <% @vehicles.each do |v| %>
        <li><%= v.year %> <%= v.name%> - <%= v.type.name %></li>
        <%= link_to "Write a review", new_vehicle_review_path(v.id) %>
    <% end %>
</ol>